<launch>
    <arg name="image_topic" default="/usb_cam/image_raw" />

    <node pkg="nodelet" type="nodelet" name="standalone_nodelet" args="manager" output="screen"/>

    <node pkg="nodelet" type="nodelet" name="uvc_camera" args="load uvc_camera/CameraNodelet standalone_nodelet">
        <remap from="image_raw" to="$(arg image_topic)"/>
    </node>

    <node name="qrcode_detection" pkg="nodelet" type="nodelet" args="load amrl_qrcode_detection/qrcode_detection standalone_nodelet" respawn="true">
        <remap from="image" to="$(arg image_topic)" />
    </node>
</launch>
