<launch>
    <arg name="image_topic" default="/image_raw" />
    <node pkg="nodelet" type="nodelet" name="standalone_nodelet" args="manager" output="screen"/>

    <node pkg="nodelet" type="nodelet" name="uvc_camera" args="load uvc_camera/CameraNodelet standalone_nodelet">
        <!-- <remap from="image_raw" to="$(arg image_topic)"/> -->
    </node>

    <node name="hazmat_detection" pkg="nodelet" type="nodelet" args="load amrl_hazmat_detection/hazmat_detection standalone_nodelet" respawn="true">
        <remap from="image" to="$(arg image_topic)" />
        <param name="cfg_path" value="$(find amrl_hazmat_detection)/net/nn.cfg"/>
        <param name="weights_path" value="$(find amrl_hazmat_detection)/net/nn.weights"/>
        <param name="labels_path" value="$(find amrl_hazmat_detection)/net/labels.names"/>
    </node>

    <node name="motion_detection" pkg="nodelet" type="nodelet" args="load amrl_motion_detection/motion_detection standalone_nodelet" respawn="true">
        <remap from="/motion_detection/image" to="$(arg image_topic)" />
    </node>    

    <node name="qrcode_detection" pkg="nodelet" type="nodelet" args="load amrl_qrcode_detection/qrcode_detection standalone_nodelet" respawn="true">
        <remap from="image" to="$(arg image_topic)" />
    </node>  

    <node name="vision_aggregator" pkg="nodelet" type="nodelet" args="load amrl_vision_aggregator/vision_aggregator_nodelet standalone_nodelet" respawn="true">
        <remap from="image" to="$(arg image_topic)" />
    </node>

    <node name="image_view" pkg="nodelet" type="nodelet" args="load amrl_image_view/image_view_nodelet standalone_nodelet" respawn="true">
        <remap from="image" to="/aggregated" />
    </node>

    <node name="mjpeg_streamer" pkg="nodelet" type="nodelet" args="load amrl_mjpeg_streamer/mjpeg_streamer_nodelet standalone_nodelet" respawn="true">
        <remap from="image" to="/aggregated" />
        <param name="port" value="8090" />
    </node>
</launch>